## 画K线图

In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.finance as fin
import tushare as ts

# 将日期作为索引，并修改收盘价为股票名
hs300 = ts.get_k_data('hs300', start='2012-01-01', end='2014-12-31')
hs300 = hs300.set_index('date')

# 将时间转化成画K线图函数需要的格式
hs300.head()

fig = plt.figure()
ax = fig.add_subplot(1, 1, 1)
arr =

               open    close     high      low      volume   code
date
2012-01-04  2361.50  2298.75  2365.99  2298.30  34344567.0  hs300
2012-01-05  2290.78  2276.39  2316.66  2272.15  43016480.0  hs300
2012-01-06  2274.35  2290.60  2291.89  2254.57  35198992.0  hs300
2012-01-09  2291.18  2368.57  2368.89  2271.72  54727341.0  hs300
2012-01-10  2365.77  2447.35  2449.96  2361.28  81154989.0  hs300